<mat-progress-bar
  mode="determinate"
  [value]="(stepper.selectedIndex + 1) / questions.length * 100"
></mat-progress-bar>

<div class="stepper-wrapper">
  <mat-horizontal-stepper #stepper [linear]="true" class="no-labels-stepper">
    <mat-step *ngFor="let q of questions; let i = index" [stepControl]="formGroups[i]">
      <ng-template matStepLabel></ng-template>
      <div class="question-step-container">
        <div class="step-controls-upper">
          <button mat-icon-button matStepperPrevious type="button" *ngIf="i > 0" aria-label="Back">
            <mat-icon>←</mat-icon>
          </button>
        </div>
        <ng-container [ngSwitch]="q.type">
          <app-range-question *ngSwitchCase="'range'" [questionText]="q.text" [control]="getFormControl(i)" (answered)="stepper.next()"></app-range-question>
          <app-country-question *ngSwitchCase="'country'" [questionText]="q.text" [control]="getFormControl(i)" (answered)="stepper.next()"></app-country-question>
          <app-date-question *ngSwitchCase="'date'" [questionText]="q.text" [control]="getFormControl(i)" (answered)="onSubmit(); stepper.next()"></app-date-question>
          <app-question *ngSwitchDefault [id]="q.id" [control]="getFormControl(i)" (answered)="stepper.next()"></app-question>
        </ng-container>
      </div>
    </mat-step>
    <!-- Removed final step with submit and reset buttons -->
  </mat-horizontal-stepper>
</div>