<div class="question-container">
  <div class="question-title" [innerHTML]="questionTitle"></div>
  <div class="options">
    <label
      class="option-label"
      *ngFor="let option of options"
      [class.selected-option]="isSelected(option.value)"
    >
      <input
        type="radio"
        class="option-radio"
        [value]="option.value"
        [checked]="control.value === option.value"
        (change)="onSelect(option.value)"
      />
      {{ option.label }}
    </label>
  </div>
</div>
